body {
    background: url("./../img/dikusia.jpg") 100%;
}

.line {
    text-decoration: line-through;
    font-style: italic;
    color: #333;
}

.container {
    width: 90%;
}

.circle {
    padding: 15px 15px;
    border-radius: 50%;
    border: none;
    color: white;
    /*background: #abad23;*/
}